body {
  font-family: Arial, sans-serif;
  background: #f4f6f8;
  margin: 0;
}

.dark {
  background: #121212;
  color: #fff;
}

header {
  background: #0d6efd;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

.card {
  background: white;
  margin: 10px;
  padding: 15px;
  border-radius: 10px;
}

.dark .card {
  background: #1e1e1e;
}

button {
  padding: 10px;
  margin-top: 8px;
  width: 100%;
}

ul {
  list-style: none;
  padding: 0;
}

footer {
  text-align: center;
  padding: 10px;
}